<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/css/update_code_style.css">
</head>

<body>
    <form>
        <div id="code_area">
            <textarea id="code_snippet" rows="10" cols="70" placeholder="// write your code here"></textarea>
        </div>
        <div id="restriction_info">
            <label>Time restriction: <input type="text" id="time_restriction"></label>
            <br>
            <br>
            <label>Views restriction: <input type="text" id="views_restriction"></label>
            <br>
            <br>
        </div>
        <div id="send_button">
            <button id="send_snippet" type="submit" onclick="send()">Submit</button>
            <br>
        </div>
    </form>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>